.app {
   text-align: center;
   display: flex;
   flex-flow: column nowrap;
   background-color: #282c34;
}

.app-body {
   box-sizing: border-box;
   height: 100vh;
   background-color: #282c34;
   min-height: 85vh;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

button:hover {
   border: solid white 1px;
   background-color: hsl(132, 97%, 15%);
   color: white;
}

.line {
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}

.line a {
   transition: color 0.8s;
   text-decoration: none;
   transition: color 0.2s;
   color: #54fc77;
}

.line a:hover {
   color: hsl(132, 97%, 90%);
   transition: color 0.2s;
}

input,
button {
   font-size: calc(9px + 1vmin);
   background-color: #282c34;
   color: #54fc77;
}

input {
   padding: 5px
}

.turnDevice {
   display: none;
}

@media screen and (max-width: 800px) {
   .input-default {
      height: 2.6em;
      width: 50vw;
      justify-content: center;
      font-size: calc(1.5vh);
      padding: 0;
   }
   .button-default {
      height: 2.6em;
      width: 25vw;
      justify-content: center;
      font-size: calc(1.5vh);
      padding: 0;
   }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
   .turnDevice{
      display: block;
      background-color: #212121;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      color: white;
   }
   .turnDevice img {
      height: 50vh;
   }
   .spaceBlock {
      height: 15vh;
   }
}