@media screen and (max-width: 1100px) {
   .box {
      width: 90vw;
      font-size: calc(2vw + 1.5vmin);
      font-size: calc(2vh);
   }

   .box-header-arrow {
      border-bottom: 1px solid #54fc77;
      font-size: calc(3vh);
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: space-between;
   }

   .box-header-arrow img {
      display: none;
   }
}