.header {
   background-color: #282c34;
   border-bottom: #54fc77 solid 1px;
   position: fixed;
   top: 0;
   left: 30px;
   right: 30px;
   margin: 0;
   height: 8vh;
   font-size: calc(10px + 2vmin);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-wallet button {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   border: solid lightcoral 1px;
   border-style: inset;
   font-size: calc(9px + 1vmin);
   background-color: #282c34;
   padding: 5px 10px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   height: 2em;
   color: lightcoral;
}

.header-wallet button:hover {
   border: solid white 1px;
   background-color: darkred;
   color: white;
}

.header-wallet {
   font-size: calc(10px + 1.2vmin);
   height: 100%;
   width: 20vw;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
}

.header-menu {
   width: 60vw;
   height: 100%;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-around;
}

.header-logo {
   height: 100%;
   width: 20vw;
   padding: 0 20px;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}

.header-logo img {
   padding: 0 10px 0;
}

.header-menu-button-selected {
   display: flex;
   flex-flow: row nowrap;
   border: solid white 1px;
   align-items: center;
   border-style: inset;
   font-size: calc(9px + 1vmin);
   background-color: darkgreen;
   padding: 5px 10px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   height: 2em;
   color: white;
}

.header-menu-button-selected:hover,
.header-menu-button-not-selected:hover {
   border-style: inset;
   background-color: darkgreen;
}

.header-menu-button-not-selected {
   height: 2em;
   border: solid #54fc77 1px;
   border-style: inset;
   font-size: calc(9px + 1vmin);
   background-color: #282c34;
   background-color: #333842;
   padding: 5px 10px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   color: #54fc77;
   display: flex;
   flex-flow: row nowrap;
   border: solid #54fc77 1px;
   align-items: center;
}

.picheader {
   height: 4vh;
}

@media screen and (max-width: 700px) {

   .header {
      font-size: calc(2vw + 1.5vmin);
      position: absolute;
      left: 3vw;
      right: 3vw;
      height: 15vh;
   }

   .header-logo-text {
      display: none;
   }

   .header-menu {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      width: 40vw;
   }

   .header-wallet {
      width: 30vw;
   }

   .header-logo {
      width: 30vw;
      padding: 0;
      justify-items: center;
      justify-content: center;
   }

   .header-menu-button-selected {
      width: 25vw;
      justify-content: center;
      font-size: 3.6vw;
      padding: 0;
   }

   .header-menu-button-not-selected {
      width: 25vw;
      justify-content: center;
      font-size: 3.6vw;
      padding: 0;
   }

   .header-wallet button {
      width: 25vw;
      justify-content: center;
      font-size: 3.6vw;
      padding: 0;
   }

   .picheader {
      height: 16vw;
   }
}