@media screen and (max-width: 1100px) {
   .Header {
      font-size: calc(2vw + 1.5vmin);
      position: absolute;
      left: 2vw;
      right: 2vw;
      height: 15vh;
   }

   .header-logo-text {
      display: none;
   }

   .Header-menu {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      width: 40vw;
   }
   
   .Header-wallet {
      width: 30vw;
   }

   .Header-logo {
      width: 30vw;
      padding: 0;
      justify-items: center;
      justify-content: center;
   }

   .Header-menu-button-selected {
      height: 2.6em;
      width: 25vw;
      justify-content: center;
      font-size: calc(1.5vh);
      padding: 0;
   }
   
   .Header-menu-button-not-selected {
      height: 2.6em;
      width: 25vw;
      justify-content: center;
      font-size: calc(1.5vh);
      padding: 0;
   }

   .picfoot {
      height : 5vh;
   }
}