.fullBlur {
   backdrop-filter: blur(2px);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
}

.popup-goerli {
   border: 1px solid hsl(35, 100%, 56%);
   border-style: inset;
   font-size: calc(10px + 1vmin);
   background-color: #282c34;
   color: hsl(35, 100%, 56%);
   padding: 2px 5px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   width: 30ch;
   height: 2em;
   position: fixed;
   top: 12vh;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.popup-goerli:hover {
   border: 1px solid white;
   color: white;
   background-color: darkgoldenrod;
}

.popup-success {
   border: 1px solid #54fc77;
   border-style: inset;
   font-size: calc(10px + 1vmin);
   background-color: #282c34;
   color: #54fc77;
   padding: 2px 5px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   width: 30ch;
   height: 2em;
   position: fixed;
   top: 12vh;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.popup-success:hover {
   border: 1px solid white;
   color: white;
   background-color: darkgreen;
}

.popup-error {
   border: 1px solid hsl(0, 79%, 40%);
   border-style: inset;
   font-size: calc(10px + 1vmin);
   background-color: #282c34;
   color: hsl(0, 79%, 40%);
   padding: 2px 5px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   width: 30ch;
   height: 2em;
   position: fixed;
   top: 12vh;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.popup-error:hover {
   border: 1px solid white;
   color: white;
   background-color: darkred;
}

.popup-waiting {
   border: 1px solid #54fc77;
   border-style: inset;
   font-size: calc(10px + 1vmin);
   background-color: #282c34;
   color: #54fc77;
   padding: 2px 5px;
   border-bottom-left-radius: 1em;
   border-top-right-radius: 1em;
   width: 30ch;
   height: 2em;
   position: fixed;
   top: 12vh;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.pop-waiting-link {
   color: #54fc77;
   text-decoration: none;
}

.pop-success-link {
   color: #54fc77;
   text-decoration: none;
}

.restriction {
   z-index: 1;
   position: absolute;
   height: 3.1em;
   width: 44vw;
   display: flex;
   align-items: center;
   justify-items: center;
   justify-content: center;
   color: transparent;
   
}
.restriction:hover {
   backdrop-filter: blur(2px);
   color: white;
}

@media screen and (max-width: 800px) {
   .popup-waiting,
   .popup-error,
   .popup-goerli,
   .popup-success {
      top: 40vw;
      font-size: 4.5vw;
   }
}